<div>
    <table>
        <tbody>
            <tr>
                <div cdkDropList cdkDropListOrientation="mixed" class="states-list" (cdkDropListDropped)="drop($event)">
                    <td cdkDrag *ngFor="let item of states" (click)="stateClicked(item)">
                        <h2>
                            {{item.title}}
                        </h2>
                        <div class="lable">
                            {{item.lable}}
                        </div>
                        {{item.fromTime}}
                        {{item.toTime}}
                    </td>
                </div>
            </tr>
        </tbody>
    </table>
</div>