<div>
    <table class="table-one">
        <tbody>
            <tr>
                <div cdkDropList cdkDropListOrientation="mixed" class="states-list" (cdkDropListDropped)="drop($event)">
                    <td cdkDrag *ngFor="let item of states" (click)="stateClicked(item)" (cdkDragEnded)="onDragEnd(item)">
                        <h2>
                            {{item.title}}
                        </h2>
                        <div *ngIf="item.lable" class="lable">
                            {{item?.lable}}
                            {{item.fromTime}}
                            {{item.toTime}}
                        </div>
                    </td>
                </div>
            </tr>
        </tbody>
    </table>
</div>

<table class="table-two">
    <thead>
        <th>title</th>
        <th>fromTime</th>
        <th>toTime</th>
        <th>description</th>
        <th>lable</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of appointments">
            <td>
                {{item.title}}
            </td>
            <td>
                {{item.fromTime}}
            </td>
            <td>
                {{item.toTime}}
            </td>
            <td>
                {{item.description}}
            </td>
            <td [class]="item.lable ? 'lable': ''">
                {{item?.lable}}
            </td>
        </tr>
    </tbody>
</table>